<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:create id="fc_com_goalkeeper_domain_IssueComment" modelAttribute="issueComment" path="/issuecomments" render="${empty dependencies}" z="IYDqXtkG/rspmekZfqDHDEjK24o=">
        <field:datetime dateTimePattern="${issueComment_createdon_date_format}" field="createdon" id="c_com_goalkeeper_domain_IssueComment_createdon" z="GWlqNbGnHmGmpwns7Qy0oN5jyKI="/>
        <field:input field="comment" id="c_com_goalkeeper_domain_IssueComment_comment" min="1" required="true" z="g9xHtSORi503c1FFxtbPd7I42xk="/>
        <field:select field="issue" id="c_com_goalkeeper_domain_IssueComment_issue" itemValue="id" items="${issues}" path="/issues" required="true" z="f5u1sksJH+d6X4mJwkIOECVuh0g="/>
        <field:select field="gkuser" id="c_com_goalkeeper_domain_IssueComment_gkuser" itemValue="id" items="${gkusers}" path="/gkusers" required="true" z="tftD5tX2bjewYgJzvyHPbDPXO0E="/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_com_goalkeeper_domain_IssueComment" render="${not empty dependencies}" z="WU9b3iDdI9NUV7MS0UfNpZCO0u0="/>
</div>
