<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:show id="ps_com_goalkeeper_domain_Achievement" object="${achievement}" path="/achievements" z="I7VbRcSdSQrNT+j8YwzjlbV8gZk=">
        <field:display field="name" id="s_com_goalkeeper_domain_Achievement_name" object="${achievement}" z="W7PakFDGO9zbb02pvv7W6Oqurfk="/>
        <field:display field="description" id="s_com_goalkeeper_domain_Achievement_description" object="${achievement}" z="evTTyZV205BBlo1IQwB5+MQmvT0="/>
        <field:display field="timesAwarded" id="s_com_goalkeeper_domain_Achievement_timesAwarded" object="${achievement}" z="frPYqhd7vmt3LjR+Wst/zqIWbqM="/>
        <field:display field="ownedBy" id="s_com_goalkeeper_domain_Achievement_ownedBy" object="${achievement}" z="pOhhjmgAqa0b5fIaDsQw+dYqHVk="/>
    </page:show>
</div>
