<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <!-- render="${empty dependencies}" -->
    <form:create id="fc_com_goalkeeper_domain_UserGroup" modelAttribute="userGroup" path="/usergroups" render="true" z="user-managed">
        <field:input field="name" id="c_com_goalkeeper_domain_UserGroup_name" min="3" required="true" z="bK/IJnkgrltt8wLJqHEXbk0ruYM="/>
        <field:select field="users" id="c_com_goalkeeper_domain_UserGroup_users" itemValue="id" items="${gkusers}" multiple="true" path="/gkusers" render="false" z="user-managed"/>
        <field:select field="updates" id="c_com_goalkeeper_domain_UserGroup_updates" itemValue="id" items="${updatemessages}" multiple="true" path="/updatemessages" render="false" z="user-managed"/>
        <field:select field="milestones" id="c_com_goalkeeper_domain_UserGroup_milestones" itemValue="id" items="${milestones}" multiple="true" path="/milestones" render="false" z="user-managed"/>
    </form:create>
    <!-- render="${not empty dependencies}"-->
    <form:dependency dependencies="${dependencies}" id="d_com_goalkeeper_domain_UserGroup" render="false" z="user-managed"/>
        
</div>
