<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_com_goalkeeper_domain_UserGroup" items="${usergroups}" z="epJqdpzyZZSiq96S7s8NsJxPz70=">
        <table:table data="${usergroups}" id="l_com_goalkeeper_domain_UserGroup" path="/usergroups" z="rNN2+OO0fl4ty+psE1SJo1dCoTw=">
            <table:column id="c_com_goalkeeper_domain_UserGroup_name" property="name" z="Wp1fksOgi5gNQIWxytTi7KYK350="/>
            <table:column id="c_com_goalkeeper_domain_UserGroup_users" property="users" z="lr/QHTDiHyynEfQErclbHzb9+Sk="/>
            <table:column id="c_com_goalkeeper_domain_UserGroup_updates" property="updates" z="03CdI7Q0cIoejrRMRxm+O+/RswA="/>
            <table:column id="c_com_goalkeeper_domain_UserGroup_milestones" property="milestones" z="nax+xTyF2y7CRD61CBUsCZWWehM="/>
        </table:table>
    </page:list>
</div>
