<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" xmlns:springform="http://www.springframework.org/tags/form" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    
    Note that the ranges given in parentheses haven't been implemented in the data model yet!
    
    <c:if test="${not empty milestone}">
        <p>
            <b>Creating new task for ${milestone.milestonename} </b>
        </p>
    </c:if>
    <form:create id="fc_com_goalkeeper_domain_Task" modelAttribute="task" path="/tasks" render="${empty dependencies}" z="J9GAYNLFX4JXJtuljPmhv+/LJwc=">
        <field:input field="taskname" id="c_com_goalkeeper_domain_Task_taskname" min="3" required="true" z="F7KJ9/E/WdE9D0YS5kOuP6AspvA="/>
        <field:datetime dateTimePattern="${task_createdon_date_format}" field="createdon" id="c_com_goalkeeper_domain_Task_createdon" render="false" z="user-managed"/>
        <field:datetime dateTimePattern="${task_duedate_date_format}" field="duedate" id="c_com_goalkeeper_domain_Task_duedate" z="holcLmmwAKrLlWVk9j1+r3AcGEI="/>
        <field:input field="priority" id="c_com_goalkeeper_domain_Task_priority" validationMessageCode="field_invalid_integer" z="1dgtf+SPL+3/EUeFtF6R4nwhsgk="/>
        <field:input field="progress" id="c_com_goalkeeper_domain_Task_progress" validationMessageCode="field_invalid_integer" z="2bftT3mrKaGD5LwPkyjDLuuXGzk="/>
        <field:input field="difficulty" id="c_com_goalkeeper_domain_Task_difficulty" validationMessageCode="field_invalid_integer" z="IZl+D9Cxb4T57UlQ7uon873lkdc="/>
        <field:input field="estimated_duration" id="c_com_goalkeeper_domain_Task_estimated_duration" validationMessageCode="field_invalid_integer" z="1g7lsi30bL/nH84c6BoZea1DA7E="/>
        <field:select disabled="true" field="owner" id="c_com_goalkeeper_domain_Task_owner" itemValue="id" items="${gkusers}" path="/gkusers" render="false" z="user-managed"/>
        <field:select field="milestone" id="c_com_goalkeeper_domain_Task_milestone" itemValue="id" items="${milestones}" path="/milestones" render="false" z="user-managed"/>
        <input name="mid" type="hidden" value="${mid}"/>
        <!-- <springform:hidden path="mid" />-->
        <field:input field="wordCount" id="c_com_goalkeeper_domain_Task_wordCount" validationMessageCode="field_invalid_integer" z="fwlcPMALZO3jD+M6gz1633MkIxU="/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_com_goalkeeper_domain_Task" render="${not empty dependencies}" z="u4sWMxkeVhaKtiT88/XPZVsskjg="/>
    
    <img src="${chart}"/>
</div>
