<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:create id="fc_com_goalkeeper_domain_GKUser" modelAttribute="GKUser_" path="/gkusers" render="${empty dependencies}" z="user-managed">
        <field:input field="username" id="c_com_goalkeeper_domain_GKUser_username" min="3" required="true" z="user-managed"/>
        <field:select field="tasks" id="c_com_goalkeeper_domain_GKUser_tasks" itemValue="id" items="${tasks}" multiple="true" path="/tasks" render="false" z="user-managed"/>
        <field:select field="groups" id="c_com_goalkeeper_domain_GKUser_groups" itemValue="id" items="${usergroups}" multiple="true" path="/usergroups" render="false" z="user-managed"/>
        <field:select field="comments" id="c_com_goalkeeper_domain_GKUser_comments" itemValue="id" items="${issuecomments}" multiple="true" path="/issuecomments" render="false" z="user-managed"/>
        <field:input field="password" id="c_com_goalkeeper_domain_GKUser_password" min="1" render="false" required="true" z="user-managed"/>
        <field:input field="Email" id="c_com_goalkeeper_domain_GKUser_Email" required="true" validationMessageCode="field_invalid_email" z="3zwTthTsf6Y3ZQ1rB4/N2Nf2ihc="/>
        <field:input field="twitter" id="c_com_goalkeeper_domain_GKUser_twitter" z="bFVxiWWL6gKDm6kCZOM4gA65Bns="/>
        <field:select field="issues" id="c_com_goalkeeper_domain_GKUser_issues" itemValue="id" items="${issues}" multiple="true" path="/issues" z="AHnczMtffsEiGM8MX2DnKtFzJcI="/>
        <field:input field="GKRole" id="c_com_goalkeeper_domain_GKUser_GKRole" z="HR3ZUm4T1EG5r8Iz9dSgNxJORoA="/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_com_goalkeeper_domain_GKUser" render="${not empty dependencies}" z="f/7iH+cUq3JJVr9m3wT5yBlhEOk="/>
</div>
