<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:update id="fu_com_goalkeeper_domain_GKUser" modelAttribute="GKUser_" path="/gkusers" versionField="Version" z="ND1my1ShNxp8d2YPEQLnhB52jSs=">
        <field:input field="username" id="c_com_goalkeeper_domain_GKUser_username" min="3" required="true" z="CGtHO25fytx40LxzxkKbOCafqoI="/>
        <field:select field="tasks" id="c_com_goalkeeper_domain_GKUser_tasks" itemValue="id" items="${tasks}" multiple="true" path="/tasks" z="sAPoY8uqdVX4U0RGivBJBuHak4A="/>
        <field:input field="Email" id="c_com_goalkeeper_domain_GKUser_Email" required="true" validationMessageCode="field_invalid_email" z="3zwTthTsf6Y3ZQ1rB4/N2Nf2ihc="/>
        <field:input field="twitter" id="c_com_goalkeeper_domain_GKUser_twitter" z="bFVxiWWL6gKDm6kCZOM4gA65Bns="/>
        <field:select field="groups" id="c_com_goalkeeper_domain_GKUser_groups" itemValue="id" items="${usergroups}" multiple="true" path="/usergroups" z="te9mQl4EGyIbpliuqehseE8igTQ="/>
        <field:select field="comments" id="c_com_goalkeeper_domain_GKUser_comments" itemValue="id" items="${issuecomments}" multiple="true" path="/issuecomments" z="zEZe0h+hOgHNaQ+OwLN5W29HLz0="/>
        <field:input field="password" id="c_com_goalkeeper_domain_GKUser_password" min="1" required="true" z="h7hnhgAy+rNbbxKsUsZkCtFDvN8="/>
        <field:select field="issues" id="c_com_goalkeeper_domain_GKUser_issues" itemValue="id" items="${issues}" multiple="true" path="/issues" z="AHnczMtffsEiGM8MX2DnKtFzJcI="/>
        <field:input field="GKRole" id="c_com_goalkeeper_domain_GKUser_GKRole" z="HR3ZUm4T1EG5r8Iz9dSgNxJORoA="/>
    </form:update>
</div>
